fastapi
uvicorn[standard]

sqlalchemy[asyncio]
asyncpg
psycopg2-binary

pydantic[email]
pydantic-settings
python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt
pwdlib[argon2]

python-multipart
alembic

google-genai